* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header nav ul {
  list-style-type: none ;
}

header nav ul li {
  display: inline-block ;
  margin: 0 22px;
}





