@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
  overflow-x: hidden;
}
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  line-height: 1.6;
  background-color: #57595D ;
}
header {
  background-color : #090F1A ;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size : 1.25vw ; 
  margin-right : 30px ;
  position : relative ; 
}

header nav ul li a:hover {
  color: #555;
}
header nav ul a:after{
  content : "" ;
  position : absolute ; 
  background-color : #008B8B ; 
  height : 3px ; 
  width : 0 ;
  left : 0 ; 
  bottom : -10px ;
  transition : 0.4s ; 
}
header nav ul a:hover:after{
  width : 100% ; 
}
body header h1 {
  margin-left : 70px ;
  color : white ;
}

.photo-1 img {
 position : relative ; 
 top : 60px ; 
 left : 150px ;
}
.titile-1{
  font-size : 1.4vw ;
  margin : 0 0 0 475px ;
  position : relative ; 
  bottom : 110px ;
}
.para-1 {
  position : relative ;
  left : 470px ;
  bottom : 100px ;
}
.button-1 {
 position : relative ; 
 left : 470px ;
 bottom : 80px ;
}
.photo-2 img {
 position : relative ; 
 top : 40px ; 
 left : 150px ;
}
.titile-2{
  font-size : 1.4vw ;
  position : relative ; 
  bottom : 130px ; 
  left : 470px ;
}
.para-2{
  position : relative ;
  left : 470px ;
  bottom : 115px ;
}
.button-2 {
  position : relative ; 
 left : 470px ;
 bottom : 95px ;
  
}
.photo-3 img {
  position : relative ; 
  top : 13px ; 
  left : 150px ;
}
.titile-3{
  font-size : 1.4vw ;
  position : relative ; 
  bottom : 160px ; 
  left : 470px ;
}
.para-3 {
  position : relative ;
  left : 470px ;
  bottom : 145px ;
}
.button-3 {
 position : relative ; 
 left : 470px ;
 bottom : 125px ;
}
.photo-4 img {
  position : relative ; 
  bottom : 10px ; 
  left : 150px ;
}
.titile-4{
  font-size : 1.4vw ;
  position : relative ; 
  bottom : 185px ; 
  left : 470px ;
}
.para-4 {
  position : relative ;
  left : 470px ;
  bottom : 170px ;
}
.button-4 {
  position : relative ; 
  left : 470px ;
  bottom : 145px ;
}
.photo-5 img {
  position : relative ; 
  bottom : 25px ; 
  left : 140px ;
 }
.titile-5{
  font-size : 1.4vw ;
  position : relative ; 
  bottom : 205px ; 
  left : 470px ;
}
.para-5 {
  position : relative ;
  left : 470px ;
  bottom : 185px ;
}
.button-5 {
  position : relative ; 
  left : 470px ;
  bottom : 165px ;
}
.button-1 button {
  border : none ; 
  background-color  : #008B8B ; 
  font-size : 15px ;
  padding : 8px ;
  cursor : pointer ;
  color : white ; 
  border-radius : 15px ; 
}
.button-2 button {
  border : none ;
  background-color : #008B8B ; 
  padding : 9px ;
  color : white ; 
  font-size : 15px ; 
  cursor : pointer ;
  border-radius : 15px ; 
}
.button-3 button {
  border : none ;
  background-color : #008B8B ; 
  padding : 9px ;
  color : white ; 
  font-size : 15px ; 
  cursor : pointer ;
  border-radius : 15px ; 
}
.button-4 button {
  border : none ;
  background-color : #008B8B ; 
  padding : 9px ;
  color : white ; 
  font-size : 15px ; 
  cursor : pointer ;
  border-radius : 15px ; 
}
.button-5 button {
  border : none ;
  background-color : #008B8B ; 
  padding : 9px ;
  color : white ; 
  font-size : 15px ; 
  cursor : pointer ;
  border-radius : 15px ; 
}
.button-1 button:hover,.button-2 button:hover,.button-3 button:hover,.button-4 button:hover,.button-5 button:hover{
  color : black  ;
}
h3 {
  position : relative ; 
  top : -50px ;
  font-size : 1.5vw ; 
  color : black  ;
}
.bottom aside  {
  background-color : white ;
  padding : 100px ;
  width : 32% ; 
  position : relative ; 
  top : -1620px ;
  left : 1030px ;
}
.bottom h2{
   position :relative ; 
   right : 10px;
}
h2{
  position : relative ;
  top : -75px ;
  left : 85px ;
  font-size :1.7vw ; 
}
.intro article {
  background-color : #57595D ; 
  padding : 200px ;
}
.intro article h1 {
  font-size : 3.15vw;
  position : relative ; 
  bottom : 80px ;
  left : 60px  ;
}
.intro p {
  position : relative ; 
  bottom : 65px ;
  left : 62px ; 
}
.intro button {
  border : none ; 
  cursor : pointer ;
  background-color : #090F1A ; 
  padding : 30px ;
  position : relative ; 
  bottom : 35px ;   
  left : 62px ; 
  color : white; 
}
 .intro button:hover { 
  color : white ;
 }
.name{
  font-size : 3vw ;  
  text-align: center;
  margin-top : 30px ;
}
.group-1{
  position : relative ; 
  top : 300px ;
}
.group-2{
  position : relative ; 
  top : 200px ;
}
.group-3{
  position : relative ; 
  top : 200px ;
}
.group-4{
  position : relative ; 
  top : 200px ;
}
.group-5{
  position : relative ; 
  top : 200px ;
}
.main {
  background-color : #090F1A ;
  position : relative ; 
  top : 200px ;
  padding : 200px ; 
}
 h2 {
  position : relative ; 
  display : grid ;
  bottom : 90px ; 
}


